.header-area {
  background-color: var(--main-gray);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--black);
}

.header-area p {
  margin-right: 1rem;
}
