.video-modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  background-color: var(--white);
  border: 2px solid var(--main-gray);
  border-radius: 10px;
  padding: 1rem;
}

.video-modal p {
  background-color: white;
}

.video-modal-top {
  width: 80%;
  height: 90%;
  margin: 0 auto;
}

.video-modal-bottom {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

.video-modal-bottom button {
  background-color: var(--main-gray);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
}

/* 시간 변경 모달*/
.time-change-modal {
  padding-top: 3rem;
}

.time-change-modal .time-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* 쇼츠 추가 모달 */
.change-short-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  overflow: scroll;
}
.change-short-modal .img-box {
  position: relative;
}

.change-short-modal .img-box img {
  width: 100px;
  cursor: pointer;
}

.change-short-modal .img-box .checked-img {
  position: absolute;
  top: 0;
  left: 0;
}

/* 효과추가 모달 */
.effect-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.effect-modal p {
  cursor: pointer;
  padding: 1rem;
}

.effect-modal p.checked {
  border: 1px solid black;
  border-radius: 10px;
}

.effect-modal .execute-box {
  display: flex;
  align-items: center;
}

.effect-modal .execute-box input {
  width: 50px;
  height: 20px;
  text-align: center;
}
