.video-modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  background-color: var(--white);
  border: 2px solid var(--main-gray);
  border-radius: 10px;
  padding: 1rem;
}

.video-modal p {
  background-color: white;
}

.video-modal-top {
  width: 80%;
  height: 90%;
  margin: 0 auto;
}

.video-modal-bottom {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

.video-modal-bottom button {
  background-color: var(--main-gray);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
}

/* 시간 변경 모달*/
.time-change-modal {
  padding-top: 3rem;
}

.time-change-modal .time-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
