/* COMPONETS CSS*/
@import "./componets/header.css";
@import "./componets/thumbnail.css";
@import "./componets/videoview.css";

/* MODAL */
@import "./componets/modal/videomodal.css";

/* PAGE */
@import "./pages/home.css";
@import "./pages/video.css";
